@{
    ViewData["Title"] = "Equipo";
}

<h1>Equipo de Desarrollo</h1>

<p>Este proyecto forma parte del curso de Proyecto II</p>

<h3>Integrantes:</h3>

<ul>
    <li><strong>Kimberly Cascante Mora</strong> Coordinador de Calidad</li>
    <li><strong>Yoel Rojas Arguedas</strong> Scrum Master</li>
    <li><strong>Dennis Cruz Montiel</strong> Product Owner</li>
    <li><strong>Jared Mendez Jimenez</strong> Coordinador de Desarrollo</li>
</ul>

<h3>Sobre el proyecto</h3>
<p>PSA Costa Rica busca facilitar la gestion de incentivos ambientales mediante herramientas digitales modernas.</p>