@{
    ViewData["Title"] = "PSA Costa Rica";
}

<h1>
    PSA Costa Rica
</h1>

<p>
    Sistema para la gestion de Pagos por Servicios Ambientales en Costa Rica.
</p>

<h3>Que permite este sistema?</h3>

<ul>
    <li>Gestion de fincas</li>
    <li>Evaluaciones tecnicas</li>
    <li>Control de pagos</li>
</ul>

<h3>Beneficios</h3>
<ul>
    <li>Transparencia en procesos</li>
    <li>Seguimiento de pagos</li>
    <li>Centralizacion de informacion</li>
</ul>

<br />

<a href="/Auth/Login">
    <button>Iniciar sesion</button>
</a>