@{
    ViewData["Title"] = "Login";
}

<h2>Iniciar Sesión</h2>

<form method="post" asp-controller="Auth" asp-action="Login">

    <div class="mb-3">
        <label>Correo</label>
        <input type="text" name="email" class="form-control" placeholder="correo@test.com" />
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>

</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Error
    </div>
}